.app {
  height: 100dvh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

@media (max-width: 40em) {
  .app {
    padding: 1rem;
    justify-content: center;
    /* padding: 2.4rem 2.4rem 2.4rem 2.4rem; */
  }
}
