.countryList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.6rem;
}

.countryList::-webkit-scrollbar {
  width: 1rem; /* Width of the scrollbar */
}

.countryList::-webkit-scrollbar-track {
  background: #f1f1f15c; /* Color of the track */
  border-radius: 0.8rem;
}

.countryList::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 0.8rem;
}

.countryList::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
